# Build outputs
bin/
obj/
Debug/
Release/
x64/
x86/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb


# Compiled files
*.obj
*.pch
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp

# IDE specific
*.vcxproj.filters
.vscode/
